body {
    align-items: center;
    justify-content: center;
    height: 100%;
}

.profile-details {
    display: grid;
    align-items: center;
    width: 100%;
    background: url(mona.jpg);
    background-size: cover;
    justify-content: center;
    margin-bottom: 5%;
}

.user, h1, p {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.btn {
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 5%;
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.btn:hover {
    background-color: black;
    color: white;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 5%;
}

.functions{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 300px;
    justify-content: center;
    
}

.settings{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 300px;
    align-items: center;
    justify-content: center;
}


@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: black;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.main-header {
    background-color: white;
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.brand-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: black;
}

.brand-name-large {
    font-size: 4em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

h2 {
    font-weight: normal;
    color: 	#1E90FF;
    text-align: center;
    font-size: 2.5em;
}

.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}


.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

code { padding: 2px 4px; color: #1E90FF;  border-radius: 4px; }
